@model AstronomicalCatalog.Web.Models.DbStar

@{
    ViewBag.Title = "Удалить";
}

<h3 style="color:darkblue">Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Звезда: @Model.KIC_ID</h4>
    <hr />
    <dl class="dl-horizontal"></dl>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к базе", "Index")
        </div>
    }
</div>
