
@{
    ViewBag.Title = "Показать данные о звезде";
}

<h3 style="color:darkblue">Страница загрузки данных</h3>

@using (Html.BeginForm("Print", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Загрузить" />
}