
@{
    ViewBag.Title = "Скачать";
}

<h3 style="color:darkblue">Хотите загрузить базу астроданных в формате Excel?</h3>

<div>
    @using (Html.BeginForm("Download", "SaveExcel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="submit" value="Скачать" /> @ViewBag.DownloadStatus
    }
</div>
