@{
    ViewBag.Title = "Контакты";
}

<h3 style="color:darkblue">@ViewBag.Message</h3>

<address>
    One Dream Way<br />
    1313 Disneyland Dr, Anaheim, CA 92802<br />
    <abbr title="Phone">P:8-800-6666666</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>