@{
    ViewBag.Title = "AstroCAT - домашняя страница";
}

<div style="margin-top:50px">
    <h3 style="color:darkblue">
            Добро пожаловать на сайт программы AstroCAT.
    </h3>
    <hr />
    <p>
        Здесь вы можете загрузить данные о новых звездах, а также посмотреть уже имеющуюся базу данных.
    </p>
</div>
<div class="logo">
    <img src="~/Content/img/17xo.gif" vspace=50>
</div>
